DB_HOST= 'localhost'
DB_USER= 'root'
DB_PASS= 
DB_NAME= 'Ryoshi'
PORT= 8000
JWT_SECRET =   # sử dụng jwt secret generator online để lấy chuỗi bất kỳ 
EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 2525
EMAIL_USER = # sử dụng mã sau khi đăng ký mailtrap (hướng dẫn lấy mã ở file readme)
EMAIL_PASS = # sử dụng mã sau khi đăng ký mailtrap (hướng dẫn lấy mã ở file readme)
GMAIL = "ryoshi@gmail.com"
MAIL_FROM = "ryoshi@gmail.com"
